{
  "plugins": ["@babel/plugin-proposal-class-properties"],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": 71
        }
      }
    ],
    "@babel/preset-react"
  ]
}
